<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Backend</title>
</head>
<body>
    <div class="border m-3 p-3">
        <p>Class base views</p>
        <a href="/inscritos" class="btn btn-success">Ver inscritos class base view</a>
        <a href="/inscritos/1" class="btn btn-success">Ver id 1, recordar que debe estar creado</a>
    </div>
    <div class="border m-3 p-3">
        <p>Api Views</p>
        <a href="/instituciones" class="btn btn-success">Ver instituciones api view</a>
        <a href="/instituciones/1" class="btn btn-success">Ver id 1, recordar que debe estar creado</a>
    </div>

    <div class="border m-3 p-3">
        <p>Interfaz Inscritos</p>
        <a href="/listarinscritos/" class="btn btn-success">Ver listado de inscritos</a>
        <a href="/addinscrito/" class="btn btn-success">Agregar inscrito</a>
    </div>

    <div class="border m-3 p-3">
        <p>Interfaz Instituciones</p>
        <a href="/listarinstituciones/" class="btn btn-success">Ver listado de instituciones</a>
        <a href="/addinstitucion/" class="btn btn-success">Agregar institucion</a>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
